@using Microsoft.AspNetCore.Identity
@using AssignmentsNetcore.Models.Database
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IViewLocalizer Localizer

@{
    var username = UserManager.GetUserName(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown margin-left-auto">
        <a class="navbar-option-margin option-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@username <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu left--65">
            <div class="dropdown-divider"></div>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Logout"]</button>
            </form>
        </div>
    </div>
   
    
}
else
{   
    <a class="option-link margin-right-15 margin-left-auto" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
}