@using AssignmentsNetcore.Models.Database
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject SignInManager<User> SignInManager
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
    <a class="navbar-option-margin option-link" asp-area="" asp-controller="UserManagement" asp-action="Users">@Localizer["Users"]</a>
    <a class="navbar-option-margin option-link" asp-area="" asp-controller="UserManagement" asp-action="Roles">@Localizer["Roles"]</a>
    <a class="navbar-option-margin option-link" asp-area="" asp-controller="UserManagement" asp-action="RoleManager">@Localizer["RoleManager"]</a>
}
