@model AssignmentsNetcore.Models.Views.AssignmentViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

 <div class="component">
    @await Html.PartialAsync("_ProjectComponentData", Model)
    <table class="table table-stripped available-developers">
        <tbody>
            @foreach (var developer in Model.AvailableDevelopers)
            {
                <tr id=@developer.Person.Id>
                    <td>$"{@developer.Person.Name} {@developer.Person.Surname}"</td>
                    <td><a href="javascript:void(0)">+</a></td>
                </tr>
            } 
        </tbody>
    </table>
    <table class="table table-stripped assigned-developers">
        <tbody>

        </tbody>
    </table>
</div>
