@model AssignmentsNetcore.Models.Views.AssignmentFormViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

 <div class="component">
    <h2>@Localizer["Edit"]</h2>
    <h4>@Localizer["OptionTitleAssignments"]</h4>
    @using (Html.BeginForm("Edit", "Assignment", FormMethod.Post, new { @class = "component-form" }))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.Id)
        @await Html.PartialAsync("_AssignmentData")
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    }
    <a class="option-link" asp-action="Index">@Localizer["BackToList"]</a>
</div>
