@using AssignmentsNetcore.Models.Database
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = Localizer["HomePage"];
}
@if (SignInManager.IsSignedIn(User))
{
    @*<div class="row">
        <div class="col-md-3">
            <h2>Authors</h2>
            <ul>
                <li><a asp-area="" asp-controller="Author" asp-action="Index">List</a></li>
                <li><a asp-area="" asp-controller="Author" asp-action="Create">Create</a></li>
            </ul>
        </div>
    </div>*@
}
else
{
    <div class="row">
        <div class="col-md-3">
            <h2>Please, log in</h2>
        </div>
    </div>
}
</div>