$wolox-blue: #00ADEE;
$wolox-blue-light: #4FD7F7;
$wolox-blue-dark: #0C86BE; 
$wolox-green: #A5CD39;
$wolox-green-light: #E0F893;
$wolox-green-dark: #9BB504;
$wolox-black:#1D263A;
$wolox-red:#EB5D6D;
$white: #FFFFFF;
$black: #000000;

/* SHADOWS */


$navbar-shadow: rgba(0,0,0,0.56);